.img {
  width: 278px;
  height: 127px;
  object-fit: contain;
}

/* .card {
  width: 386px;
  height: 393px;
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  padding: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  margin-top: 10px;
}

.card h3 {
  font-size: 24px;
  font-weight: 400;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.cardPrice1 {
  font-size: 14px;
  font-weight: 500;
}

.cardPrice2 {
  font-size: 24px;
  font-weight: 700;
}

.addToCart {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 1px solid #b3b2b2;
  background-color: #f3f3f3;
  font-size: 25px;
  font-weight: 100;
  color: #969595;
} */
